.contenedor_layout_erp {
    margin-left: var(--menu-ancho-sidebar);
    background: var(--layout-fondo-color-base);
    height: 100vh;
    padding: 10px;
}

@media (max-width: 916px) {
    .contenedor_layout_erp {
        margin-left: 0px;
    }
}